.page {
    position: absolute;
    width: 1440px;
    height: 1686px;
}
.blogs {
    position: absolute;
    width: 1027.55px;
    height: 1185.66px;
    left: 210px;
    top: 295px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.components {
    width: 297.52px;
    height: 574px;
    left: 940.03px;
    top: 906.66px;
    z-index: 1;
}
.end {
    align-self: flex-end;
}
.components h3 {
    position: relative;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    text-align: center;
}
.nazva_avtor {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 160.53125px;
    left: 70px;
}
.nazva_avtor p {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 24px;
    color: #C0C0C0;
}
.ellipse {
    width: 4.25px;
    height: 4.25px;
}
.border {
    height: 0px;
    width: 293px;
    border: 1px solid #ED8651;
    margin-top: 29px;
}
.components p {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 29px;
}
.read_more {
    height: 24px;
    width: 153.484375px;
    position: relative;
    left: 127px;
    top: 30px;
    color: #30ABAE;
    border: 0;
    background-color: white;
}
.light_footer_desktop {
    width: 1440px;
    height: 115px;
    background: #F2F5F1;
    top: 87%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginatios {
    width: 298.38px;
    height: 25px;
    display: flex;
    justify-content: space-around;
}
.pag_left, .pag_right {
    width: 22.5px;
    height: 22.5px;
}
.pag_left img, .pag_right img {
    width: 100%;
}
.pag_center {
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 25px;
}
.pag_center a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #AAAAAA;
    text-decoration: none;
}
.blog_menu {
    position: absolute;
    width: 693px;
    height: 656px;
    left: -21px;
    top: 155px;
    background: #F2F5F1;
    z-index: 0;
}
.blog_menu h1 {
    position: absolute;
    width: 151px;
    height: 96px;
    left: 207px;
    top: -57px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
}
.blog_menu h4 {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 222.5px;
    top: 111.18px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}
.kategory {
    position: absolute;
    width: 210px;
    height: 428.14px;
    left: 200px;
    top: 150px;
}
.kategory_item {
    width: 210px;
    height: 20.27px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 11px;
}
.none_ef {
    border: 1px solid #E4E4E4;
}
.bg_ef {
    border: 0;
    background-color: #E4E4E4;
}
.bd_ef {
    border: 1px solid #63C0C2;
}
.all_kategory {
    position: absolute;
    left: 220px;
    top: 584px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #30ABAE;
    border: 0;
    background-color: #F2F5F1;
}
.blog_read {
    display: none;
    position: absolute;
    width: 1440px;
    height: 937px;
    left: 110%;
}
.blog_1_left {
    height: 742px;
    width: 918px;
    left: 2px;
    top: 159px;
    position: absolute;
    width: 918px;
    height: 742px;
    left: 2px;
    top: 159px;
    background: #F2F5F1;
}
.blog_1_left h1 {
    position: absolute;
    width: 151px;
    height: 96px;
    left: 183.9px;
    top: -61px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
}
.ellipse_grey {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 416px;
    top: -11px;
    background: #C4C4C4;
    border-radius: 50%;
}
.blog_1_left h2 {
    position: absolute;
    width: 223px;
    height: 48px;
    left: 467px;
    top: -30px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #C4C4C4;
}
.blog1_nazva_avtor {
    top: 103px;
    left: 309px;
}
.blog_1_img {
    position: absolute;
    width: 711.46px;
    height: 464px;
    left: 733.5px;
    top: 274px; 
}
.blog_1_text {
    position: absolute;
    width: 441.14px;
    height: 439px;
    left: 204.86px;
    top: 144px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.blog_1_back {
    position: absolute;
    width: 105px;
    height: 19px;
    left: 206px;
    top: 600px;
    border: 0ch;
    background-color: #F2F5F1;
}
.kategory button {
    display: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #30ABAE;
}
.bg {
    display: none;
    
}
.blog_read {
    transition: 500ms;
}
.active {
    display: block;
    left: 0%;
    z-index: 2;
}